/* Reseteo de CSS. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* main {
    flex-grow: 1;
} */

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

/* Sección de mi portafolio. */
.body-portafolio h1 {
    font-size: 50px;
}

.body-portafolio a {
    text-decoration: none;
}

/* Header de mi portafolio */

.header-portafolio {
    min-height: 70px;
    position: sticky;
    top: 0;
    background-color: black;
}

.hipervinculo-portafolio {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 150px;
    background-color: #d37ceb;
}

.hipervinculo-portafolio a {
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px;
    width: 200px;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.hipervinculo-portafolio a:hover {
    background-color: #af57c7;
}

/* Sobre mi de mi portafolio */

#sobre-mi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #6716ff;
    min-height: 100vh;
    color: white;
}

/* Proyectos de mi portafolio */

#proyectos {
    min-height: 100vh;
    background-color: rgb(22, 24, 24);
    border: 2px solid rgb(255, 0, 0);
    place-items: center;
    color: white;
}

.contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    min-width: 100vh;
    min-height: 100vh;
    place-items: center;
    border: 3px solid white;
}

.culebrita {
    display: flex;
    flex-direction: column;
    min-height: 700px;
    height: 700px;
    width: 350px;
    border: 1px solid rgb(96, 209, 68);
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}

.culebrita:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 700px;
    height: 700px;
    width: 350px;
    border: 1px solid rgb(96, 209, 68);
    border-radius: 5px;
    background-image: url("ProyectosPortafolioGifs/Green-anaconda.jpeg");
    background-position-x: 87%;
    background-position-y: center;
    background-size: cover;
}

.culebrita h2 {
    text-align: center;
    width: 100%;
}

.gatas {
    text-align: center;
    min-height: 700px;
    height: 700px;
    width: 350px;
    border: 1px solid beige;
    border-radius: 5px;
}

.gatas img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center left;
}

.futuro {
    text-align: center;
    min-height: 700px;
    height: 700px;
    width: 350px;
    border: 1px solid red;
    border-radius: 5px;
}

/* ----------------------------------------------------------------- */
/* ----------------------------------------------------------------- */

/* Sección de las mascotas. */

#mascotas {
    background-color: beige;
    min-height: 100vh;
    padding: 2rem;
}

.mascotas-titulo {
    padding: 1rem;
    color: #5e3125;
    text-shadow: 0px 10px 10px rgba(167, 89, 69, 0.3);
    font-size: 3rem;
    font-family: "Bubblegum Sans", cursive;
}

.mascotas-subtitulo {
    justify-content: left;
    padding: 1rem;
    color: #5e3125;
    text-shadow: 0px 10px 10px rgba(167, 89, 69, 0.3);
    font-size: 1.5rem;
    font-family: "Bubblegum Sans", cursive;
}

.mini, .chiquilina, .misha, .negra{
    display: flex;
    justify-content: left;
    margin-bottom: 2rem;
}

.card-mini, .card-chiquilina, .card-misha, .card-negra{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    background-color: #fff8f5;
    border: 2px solid #a75945; 
    border-radius: 18px;
    box-shadow: 0px 4px 16px rgba(167, 89, 69, 0.3);
    padding: 1.5rem;
    width: 600px;
    transition: transform 0.4s ease;
}

.card-mini:hover, .card-chiquilina:hover, .card-misha:hover, .card-negra:hover{
    transform: translateY(-10px);
}

.card-mini img, .card-chiquilina img, .card-misha img, .card-negra img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 12px;
    border: 3px solid #a75945;
    box-shadow: 0px 0px 10px rgba(107, 6, 6, 0.4);
}

.card-mini h3, .card-chiquilina h3, .card-misha h3, .card-negra h3{
    font-size: 1.8rem;
    color: #5e3125;
    font-family: "Bubblegum Sans", cursive;
    text-shadow: 0px 10px 10px rgba(167, 89, 69, 0.3);
    margin: 0;
}

.pie-pagina {
    text-align: left;
    margin-top: 3rem;
}

.pie-pagina a {
    text-decoration: none;
    display: inline-block;
    background-color: #fff8f5;
    padding: 1rem;
    border: 2px solid #a75945;
    border-radius: 18px;
    color: #a75945;
    font-weight: bold;
    transition: 0.3s;
}

.pie-pagina a:hover {
    background-color: #a75945;
    color: #ffffff; 
}
/* agregar un fondo de gatitos */
@media screen {
    
}